form(
  method='post'
  action='/notes/create')
    input(
      type='text' 
      name='title' 
      id='title_text'
      placeholder='Title of the note')

    br

    textarea(
      name='body' 
      cols='40' 
      rows='5' 
      id='body_text'
      placeholder='Body of the note')

    br

    input(type='submit')

