extends layout

block content
  each note in notes
    div(class='note')
      a(href='/notes/' + note.id class='note_link')
        h3= note.title
      p= note.body
  else
    p No notes to display!

  a(
    href='/notes/create/'
    id='new_note_link')
      | New Note

